*{
    margin:0 auto;
}
ul{
    list-style-type: none;
}
body{
    background-image: url("images/bg.png");
    background-repeat:no-repeat;
    background-size: cover;
}
.wrapper{
    width: 800px;
    margin: 40px auto;
    background-color: #eaeaea;
    border-radius: 4px;
    overflow: hidden;
}
.header{
    /* background: url("../images/cover04.png") no-repeat; */
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin-left:auto;
    margin-right:auto;
    background:white;
    text-align: center;
}
.header .profile{
    border-radius: 200px / 100px;
    width: 140px;
    margin: 50px 0 10px;
    border: 5px solid white;
    background-color: black;
    
}
.header h1{
    width: 200px;
    font-size: 40px; 
    color:white;
    border-bottom: 4px solid white;
    margin-bottom: 20px;
}
.header p{
    width: 200px;
    font-size: 20px; 
    padding-bottom: 20px;
    color: white;
}
.content{
    border: 1px solid red;
    background:white;
    margin: 20px;
    padding:20px;
    background-image: url("images/icon-user.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    box-shadow: 5px 5px 20px 2px rgba(128,128,128,0.5)
}
.content h2, h3{
    color:rgb(255, 102, 0);
    margin-bottom:10px;

}
.skill{
    background-image: url("images/icon-lock.png");
}
footer{
    background: white;
    text-align: center;
    padding: 10px;
}
a{
    text-decoration: none;
    color:gray;
    font-size:20px;
    border: 1px solid grey;
    border-radius:20px;
    padding: 5px;
    box-shadow: 5px 5px 20px 2px rgba(128,128,128,0.5)
}