@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
}
.a11y-hidden {
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
width: 1px;
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
}

body,
.main-wrap{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  display: flex;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: cadetblue;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.5);
}

a {
  display: block;
  text-align: center;
  margin: .25rem;
  padding: .5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: teal;
}


.side-section{
    width: 30%;
    height: 70vw;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.5);
    font-size: 20px;
}
.main{
    display:grid;
    flex-grow: 2;
    height: 70vw;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.5);
    font-size: 20px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
    /* justify-content: flex-end; */
}
.korean{
  width: 100%;
  background: skyblue;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.English{
  width: 100%;
  background: palegreen;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.japan{
  width: 100%;
  background: plum;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.china{
  width: 100%;
  background: sandybrown;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.French{
  width: 100%;
  background: silver;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.italy{
  width: 100%;
  background: darkkhaki;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.Russian{
  width: 100%;
  background: darkorchid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
}
.plus{
  width: 100%;
  background: darkred;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 4px rgba(211, 211, 211, 0.5);
  grid-area: 3 / 2 / 4 / 4; 
}

footer{
  width: 100%;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.5);
    font-size: 20px;
    text-align:center;
}